extends layout

block content
  h1= title
  p Welcome to the world of pug #{title}
  button(type="button", class="btn btn-secondary") Press me 

  script.
      console.log("running at http://localhost:3000/")


